@charset "UTF-8";

.block {
    background-color: black;
    border: 2px double red ;
    width: 150px;
    height: 800px;
    margin: 100px 0 0 30px ;
    position:absolute;
	left:-550px;
	
	
  }
  
 .block  li {
	float: inherit;
	padding: 15px 10px 0 10px;
	border-top: 1px solid white;
	
}
.table01, .table02{
	display: none;
	background: white;
	color:black;
}
.n01{

width: 600px;
display: flex;
margin: 100px 0 0 0 ;
}
.n02{
background: ;
border: 2px solid black;;
height:1500px;

display: flex;
}